<h1>YAY! you're a Gryffindor</h1>
<img src="https://media.giphy.com/media/ivBnRX5Lw2gsE/giphy.gif" width="500" height="206" frameBorder="0" allowFullScreen>
<br>
<button><a href="/">Start again?</a></button>
