<h1>YAY! you're a Gryffindor</h1>
<iframe src="//giphy.com/embed/ivBnRX5Lw2gsE" width="480" height="197" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/huffingtonpost-selfie-quidditch-huffington-post-ivBnRX5Lw2gsE">via GIPHY</a></p>
<button><a href="/">Start Quiz Over?</a></button>
