<h1>You sooo nice you're a Hufflepuff</h1>
<iframe src="//giphy.com/embed/1UAIoVWRhtjhe" width="480" height="284" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/robert-pattinson-cedric-diggory-harry-potter-gablet-of-fire-1UAIoVWRhtjhe">via GIPHY</a></p>
<button><a href="/">Start Quiz Over?</a></button>
