<h1>Welcome to the Sorting Hat Quiz</h1>
<img src="http://images.amcnetworks.com/bbcamerica.com/wp-content/uploads/2014/12/sortinghat.jpg">
<h2>Are you Brave?</h2>
<button><a href ="/evil">Yes</a></button>
<button><a href ="/intelligent">No</a></button>
