<h1>So you say you are not Brave, but you are intelligent.</h1>
<img src="http://i.giphy.com/T1HNGhvx14iru.gif">
<h2>Do you dislike Slytherin?</h2>
<button><a href="/ravenclaw">Yes</a></button>
<button><a href ="/evil">Back</a></button>
<button><a href="/slytherin">No</a></button>
