<h1>So you say you are Brave...</h1>
<img src="http://i.giphy.com/8V5RS1168a0IE.gif">
<h2>But are you Evil?</h2>
<button><a href="/slytherin">Yes</a></button>
<button><a href ="/">Back</a></button>
<button><a href="/gryffindor">No</a></button>
