<h1>So you say you are not Brave...</h1>
<img src="http://i.giphy.com/rvMQcARjST01W.gif">
<h2>But are you Intelligent?</h2>
<button><a href="/dislike">Yes</a></button>
<button><a href ="/">Back</a></button>
<button><a href="/dislike_two">No</a></button>
